.conteiner_button {
    width: 1110px;
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
}

.btn {
    height: 51px;
    width: 151px;
    font-family: 'Open+Sans', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    display: inline-block;
    margin-right: 220px;
    background-color: #4ec6ab;
}
.header {
    width: 1110px;
    margin: auto;
}

.logo_conteiner {
    display: inline-block;
    margin-right: 450px;
    text-align: left;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.menu {
    text-align: right;
    display: inline-block;    
}

.site_navigation {
    font-size: 14px;
    color: rgba(26, 188, 156, 255);
    text-align: right;
    font-family: 'Open+Sans', serif;
    text-transform: uppercase;
}

.menu_list_link {
    display: inline-block;
}

li {
    display: inline-block;
    margin-right: 35px;
}

li:last-child {
    margin-right: 0;
}