
.wrapper {
    background-color: #ffffff
}

.header {
    width: 900px;
    margin: 0 auto 100px ;
    padding-top: 75px;
}
.menu-list {
    color: #626262;
    font-family: 'Playfair Display' , serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
}
.menu-item {
    display: inline-block;
    margin: 75px;
    width: 90px;
}
.menu-item:last-child {
    margin-right: 0;
}
.menu-item:hover {
    color: #03a0f4;
}
.main {
    width: 900px;
    margin: auto;
}
.article {
    width: 400px;
    display: inline-block;
    margin-right:170px;
    margin-left: 100px;
}
.article:nth-child(2n+2) {
    margin-right: 0px;   
}
.conteiner-btn {
    margin: auto;
    text-align: center;
}
.button {
    height: 60px;
    width: 165px;
}
.img {
    width: 400px;
    margin-bottom: 30px;
}
.card_text {
    font-size: 30px;
    font-weight: 400;
    color: #626262;
    margin-bottom: 40px;
}
.text {
    font-size: 14px;
    font-weight: 400;
    color: #626262;
}
.mini_text {
    font-Weight: 300;
    font-family: 'Ubuntu', sans-serif;
}